<head>
  <!-- load all Font Awesome v6 styles -->
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet" />

  <!-- support v4 icon references/syntax -->
  <link href="/your-path-to-fontawesome/css/v4-shims.css" rel="stylesheet" />
</head>
